@import url('normalize.css');
@import url('foundation.css');

body {
    background-color: #efefef;
}

#page {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding-top: 30%;
    text-align: center;
}